body {
    background-color: #001b2e;
  }
  
  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  p {
    margin: 0px;
  }
  .links {
    padding-top: 10px;
    display: flex;
    justify-content: center;
  }
  
  * {
    color: #ffefd3;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  